@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>
        <a asp-controller="Dane" asp-action="Form" class="btn btn-primary">Przejdź do formularza</a>
    </p>
</div>